repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      # Run the linter
      - id: ruff
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.4.1
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/owenlamont/uv-secure
    rev: 0.14.4
    hooks:
      - id: checkov
        args: ['--quiet', '--compact', '--framework', 'github_actions']
        files: ^\.github/workflows/
